/build/
/.nb-gradle/
.gradle/
bin/
.idea/
.settings/
nbproject/
out/

# Ignore Visual Studio Code stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
