<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            #footer{
                margin: 0px auto;
                padding-bottom: 60px;
                position: relative;
                text-align: center;              
            }
        </style>
    </head>
    <body>
        <div th:fragment="footer">              
            <div id="footer">Jolly-Cooperation </div>          
        </div>
    </body>
</html>

