<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JollyOhtu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    </head>
    <body>
        <div th:include="fragments/header"></div>
        <div th:include="fragments/messages"></div>
        
        
        <div class="container">
            <form action="#" th:action="@{/add_book}" th:object="${book}" method="post">
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control" th:field="*{author}"></input>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}"></input>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <input type="number" class="form-control" th:field="*{year}"></input>
                </div>
                <div class="form-group">
                    <label>Publisher</label>
                    <input type="text" class="form-control" th:field="*{publisher}"></input>
                </div>
                <button type="submit" value="Submit" class="btn btn-default">Add</button>
            </form>
        </div>

        <script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </body>
</html>