<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JollyOhtu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

    </head>
    <body>
        <div th:include="fragments/header"></div>
        <div th:include="fragments/messages"></div>



        <div class ="container">
            <h4>Books</h4>
            <table class="table table-responsive">
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>Series</th>
                    <th>Address</th>
                    <th>Edition</th>
                    <th>Month</th>
                    <th>Note</th>
                    <th ><button class="btn btn-default" onClick="toggle_all('books')">Select All</button></th>
                    <th ><button class="btn btn-danger">Delete Selected</button></th>
                </tr>
                <tr th:each="book : ${books}">

                    <td th:text="${book.callId}">ID...</td>
                    <td th:text="${book.author}">Author...</td>
                    <td th:text="${book.title}">Title...</td>
                    <td th:text="${book.publisher}">Publisher...</td>
                    <td th:text="${book.year}">Year...</td>
                    <td th:text="${book.series}">Series...</td>
                    <td th:text="${book.address}">Address...</td>
                    <td th:text="${book.edition}">Edition...</td>
                    <td th:text="${book.month}">Month...</td>
                    <td th:text="${book.note}">Note...</td>
                    <td>
                        <input type="checkbox" name="books"></input>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class ="container">
            <h4>Articles</h4>
            <table class="table table-responsive">
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Year</th>
                    <th>Volume</th>
                    <th>Number</th>
                    <th>Pages</th>
                    <th>Month</th>
                    <th>Note</th>
                    <th ><button class="btn btn-default" onClick="toggle_all('articles')">Select All</button></th>
                    <th ><button class="btn btn-danger">Delete Selected</button></th>
                </tr>
                <tr th:each="article : ${articles}">

                    <td th:text="${article.callId}">ID...</td>
                    <td th:text="${article.author}">Author...</td>
                    <td th:text="${article.title}">Title...</td>
                    <td th:text="${article.journal}">Publisher...</td>
                    <td th:text="${article.year}">Year...</td>
                    <td th:text="${article.volume}">Volume...</td>
                    <td th:text="${article.number}">Year...</td>
                    <td th:text="${article.pages}">Year...</td>
                    <td th:text="${article.month}">Year...</td>
                    <td th:text="${article.note}">Year...</td>
                    <td>
                        <input type="checkbox" name="articles"></input>
                    </td>
                    <td></td>

                </tr>
            </table>
        </div>

        <div class ="container">
            <h4>Inproceedings</h4>
            <table class="table table-responsive">
                <tr>
                    <th> ID </th>
                    <th> Author </th>
                    <th> Title </th>
                    <th>Booktitle</th>
                    <th>Year</th>
                    <th>Editor</th>
                    <th>Volume number</th>
                    <th> Series </th>
                    <th>pages</th>
                    <th>address</th>
                    <th>Month</th>
                    <th>Organization</th>
                    <th>Publisher</th>
                    <th>Note</th>
                    <th ><button class="btn btn-default" onClick="toggle_all('inproceedings')">Select All</button></th>
                    <th ><button class="btn btn-danger">Delete Selected</button></th>
                </tr>
                <tr th:each="inproceeding : ${inproceedings}">

                    <td th:text="${inproceeding.callId}">ID...</td>
                    <td th:text="${inproceeding.author}">Author...</td>
                    <td th:text="${inproceeding.title}">Title...</td>
                    <td th:text="${inproceeding.booktitle}">Publisher...</td>
                    <td th:text="${inproceeding.year}">Year...</td>
                    <td th:text="${inproceeding.editor}">Year...</td>
                    <td th:text="${inproceeding.volumeNumber}">Year...</td>
                    <td th:text="${inproceeding.series}">Year...</td>
                    <td th:text="${inproceeding.pages}">Year...</td>
                    <td th:text="${inproceeding.address}">Year...</td>
                    <td th:text="${inproceeding.month}">Year...</td>
                    <td th:text="${inproceeding.organization}">Year...</td>
                    <td th:text="${inproceeding.publisher}">Year...</td>
                    <td th:text="${inproceeding.note}">Year...</td>
                    <td>
                        <input type="checkbox" name="inproceedings"></input>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
                        //<![CDATA[
                        
                        function toggle_all(table) {
                            var checkboxes = document.getElementsByName(table);
                            var all_checked = true;
                            for (var i = 0; i < checkboxes.length; i++) {
                                if (!checkboxes[i].checked) {
                                    all_checked = false;
                                }
                            }
                            if (!all_checked) {
                                for (var i = 0; i < checkboxes.length; i++) {
                                    checkboxes[i].checked = true;
                                }
                            }else{
                                for (var i = 0; i < checkboxes.length; i++) {
                                    checkboxes[i].checked = false;;
                                }
                            }


                        }
                        //]]>            
        </script>
    </body>


</html>